*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: whitesmoke;
}
.btn{
    color: rgb(13, 12, 14);
    background: rgb(185, 84, 84);
    cursor: pointer;
    display: block;
    width: 500px;
    margin: auto;
    padding: 20px;
}